<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto"></div>
        <div class="col-md-auto"><h1>{{title}}</h1></div>
        <div class="col-md-auto"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col" ng-repeat='itens in asCidades'>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top mile" ng-src="{{itens.imgCidade}}" alt="itens.altImagem">
                <div class="card-body">
                    <h6 class="card-title">{{itens.nomeCidade}}</h6>
                    <a ui-sref="{{itens.caminho}}" class="btn btn-outline-dark btn-sm">{{itens.txtBotao}}</a>
                </div>
            </div>
        </div>
    </div>
</div>