/* Fontes */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* Fim Fontes */

/* Index Html */
p{
    text-align: justify;
}
body{
    background-color: #F8F8FF !important;
}
/* Fim Index Html */

/* Menu */
a.cima:visited{ 
    color: #F8F8FF !important;
}
a.cima:hover{
    color: #00FF00 !important;
    font-size: 1.32rem;
    text-shadow: 5px 5px 18px #00FF00;
}
a.cima:active{
    color: #458B00 !important;
}
/* Fim Menu */

/* Html Cidades */
.rounded{
    height: 320px !important;
    width: 700px;
}
.cidades{
    padding-top: 80px;
}
/* Fim Cidades */

/* Carousel Cidades */
.carousel-control-next-icon {
    background-color: #00FF00 !important;
    border-radius: 20px !important;
}
.carousel-control-prev-icon {
    background-color: #00FF00 !important;
    border-radius: 15px !important;
}
/* Fim Caroucel Cidades */

/* Tabela View BuscaBrasil*/
.tabela{
    margin-top: 10px !important;
    border-radius: 20px !important;   
}
th {
    border-radius: 20px;
}
.jumbotron{
    padding: 0 !important;
    margin-top: 10px !important;
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.styleButton{
    text-decoration: none !important;
    cursor: pointer !important;
    font-family: Roboto;
    color: #000000;
}
.styleButton:hover{
    color: #00CD00 !important;
}
.styleButton:active{
    color: #458B00 !important;
}
/* Fim Tabela View BuscaBrasil */

/* Div do Bootstrap Card's*/
.container{
    padding: 10px;
}
.col{
    padding: 15px;
}
/* Fim Bootstrap Card's*/

/* Card */
.card{
    box-shadow: 12px 12px 12px #000000;
}
/* Fim Card */

/* Card's do Menu View */
.mile{
    height: 143.83px;
}
/* Fim Card's do Menu View*/