<menu-nabar></menu-nabar>
<div class="container">
    <div class="row cidades">
        <h1>Dublin - República da Irlanda</h1>
        <p>
            Dublin, capital da República da Irlanda, fica na costa leste do país, na foz do Rio Liffey.
            Entre seus prédios históricos destacam-se o Castelo de Dublin, que data do século 13,
            e a imponente Catedral de St Patrick, fundada em 1191.
            Os parques da cidade incluem o St Stephen’s Green e o enorme Phoenix Park,
            onde fica o Zoológico de Dublin.
            O Museu Nacional da Irlanda explora o patrimônio e a cultura irlandesas.
        </p>
        <p>
            <b>Tempo: </b>18 °C, vento SO a 14 km/h, umidade de 74%;<br>
            <b>População: </b>544.107 (2016) Organização das Nações Unidas;<br>
            <b>Fundação: </b>{{mgs}}
        </p>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div ng-repeat='itens in imgDublin' class="carousel-item {{itens.class}}">
                <img class="img-fluid rounded mx-auto d-block" ng-src="{{itens.img}}" alt="{{itens.alt}}">
            </div>
            <caro-passa></caro-passa>
        </div>
    </div>
</div>
