<menu-nabar></menu-nabar>
<div class="container">
    <div class="row cidades">
        <h1>Roma - Itália</h1>
        <p>
            Roma, a capital da Itália, é uma cidade cosmopolita, enorme,
            com quase 3.000 anos de arte, arquitetura e cultura influentes no mundo todo e à mostra.
            Ruínas antigas como o Fórum e o Coliseu evocam o poder do antigo Império Romano.
            A Cidade do Vaticano, sede da Igreja Católica Romana, tem a Basílica de São Pedro e os museus do Vaticano,
            que abrigam obras-primas como os afrescos da Capela Sistina de Michelângelo.
        </p>
        <p>
            <b>Tempo: </b>25 °C, vento SO a 13 km/h, umidade de 67%;<br>
            <b>População: </b>2,873 milhões (2017) Organização das Nações Unidas;<br>
            <b>Fundação: </b>{{mgs}}
        </p>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div ng-repeat='itens in imgRoma' class="carousel-item {{itens.class}}">
                <img class="img-fluid rounded mx-auto d-block" ng-src="{{itens.img}}" alt="{{itens.alt}}">
            </div>
            <caro-passa></caro-passa>
        </div>
    </div>
</div>