<menu-nabar></menu-nabar>
<div class="container">
    <div class="row cidades">
        <h1>São Paulo - Brasil</h1>
        <p>
            São Paulo, centro financeiro do Brasil, está entre as cidades mais populosas do mundo,
            com diversas instituições culturais e uma rica tradição arquitetônica.
            Há prédios simbólicos como a catedral neogótica, o Edifício Martinelli,
            um arranha-céu inaugurado em 1929, e o Edifício Copan,
            com suas linhas curvas projetadas pelo arquiteto modernista Oscar Niemeyer.
            A igreja em estilo colonial do Pátio do Colégio marca o local onde os padres jesuítas fundaram a cidade em
            1554.
        </p>
        <p>
            <b>Tempo: </b>18 °C, vento L a 14 km/h, umidade de 80%;<br>
            <b>População: </b>12,18 milhões (2019);<br>
            <b>Fundação: </b>{{mgs}}
        </p>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div ng-repeat='itens in imgSaoPaulo' class="carousel-item {{itens.class}}">
                <img class="img-fluid rounded mx-auto d-block" ng-src="{{itens.img}}" alt="{{itens.alt}}">
            </div>
            <caro-passa></caro-passa>
        </div>
    </div>
</div>