<div menu-nabar></div>
<div class="container">
    <div class="row cidades">
        <h1>Atenas - Grécia</h1>
        <p>
            Atenas é a capital da Grécia.
            A cidade também foi o centro da Grécia Antiga, um império e civilização poderosos,
            e ainda é dominada por monumentos do século V a.C.,
            como a Acrópole, uma cidadela no topo de uma montanha repleta de construções antigas,
            como o templo Partenon e suas muitas colunas.
            O Museu da Acrópole, juntamente com o Museu Arqueológico Nacional,
            preserva as esculturas, os vasos, as joias e outras relíquias da Grécia Antiga.
        </p>
        <p>
            <b>Tempo: </b>27 °C, vento SO a 10 km/h, umidade de 49%;<br>
            <b>População: </b>664.046 (2011) Organização das Nações Unidas;<br>
            <b>Fundação: </b>{{mgs}}
        </p>
        <!-- <button class="btn btn-outline-dark btn-sm">
            <a href='http://www.portalconsular.itamaraty.gov.br/seu-destino/grecia'>+ info</a>
        </button> -->
    </div>
    <div>
        <img class="img-fluid rounded mx-auto d-block" ng-src="/App/Images/atenas.jpg" alt="cidade de Atenas">
    </div>
</div>